body {
	width: 99%;
	top: 0;
	left: 0;
}

.textnav {
	width: 330px;
	height: 150px;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 150px;
}
.navbar {
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	background-color: #A19794;
}
.inside {
	width: 100%;
	height: 900px;
}

.footer {
	bottom: 0;
	width: auto;
	height: 180px;
	display: flex;
	justify-content: space-between;
}

.Article1 {
	display: flex;
	justify-content: space-between;
}

.imgplats {
	width: 250px;
	height: 250px;
	border-radius: 110px;
}
.plats {
	border-color: #A19794;
	width: 610px;
	height: 150px;
	display: flex;
}