body, html {
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap:  5px;
}

.textnav {
	width: 330px;
	height: 150px;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 150px;
}
.navbar {
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	background-color: #A19794;
}


.footer {
	bottom: 0;
	width: auto;
	height: 180px;
	display: flex;
	justify-content: space-between;
}




.textA1 {
	font-family: "Rouge Script";
	align-self: center;
	font-size: 36px;
	width: 1078px;
	text-align: center;

}
.imgA1 {
	height: 588px;
width: 588px;
left: 103px;
top: 33px;
border-radius: 0px;

}
.Article1 {
	padding: 50px;
	height: 650px;
	display: flex;
	justify-content: space-between;
	background-color: #A19794;

}
.Article2 {
	background-color: #A19794;
	display: flex;

}

.allplats {
	display: flex;
	flex-direction: column;
	gap: 15px;
	
}
.imgplats {
	width: 250px;
	height: 250px;
	border-radius: 110px;
	align-self: center;
}
.plats {
	border-color: #C8C8C8;
	width: 610px;
	height: 150px;
	display: flex;
	border-radius: 90px;
	background-color: #C8C8C8;
	justify-content: center;
	overflow: hidden;

}

.inter {
	width: 70%;
	justify-content: space-between;
	display: flex;
}