.textA1 {
	font-family: "Rouge Script";
	align-self: center;
	font-size: 36px;
	width: 1078px;
	text-align: center;
}
.imgA1 {
	height: 588px;
	width: 588px;
	left: 103px;
	top: 33px;
	border-radius: 0px;

}
.Article1 {
	padding: 50px;
	height: 650px;
	display: flex;
	justify-content: space-between;
	background-color: #8c6a57;
	color: white;
}
.Article2 {
	background-color: #8c6a57;
	display: flex;
	justify-content: space-between;
	padding: 25px;
	padding-right: 100px;
	padding-left: 100px;
}
.allplats {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.imgplats {
	width: 250px;
	height: 250px;
	border-radius: 110px;
	align-self: center;
}
.plats {
	border-color: #C8C8C8;
	width: 610px;
	height: 150px;
	display: flex;
	border-radius: 90px;
	background-color: #C8C8C8;
	justify-content: center;
	overflow: hidden;
}

.inter {
	width: 70%;
	justify-content: space-between;
	display: flex;
}
.inside {
	position: relative;
	height: 630px;
	width: 825px;
	border-radius: 100px;
	overflow: hidden;
	text-align: center;
}


.Accueil {
	border-color: #C8C8C8;
	width: 100%;
	height: 900px;
	display: block;
	background-image: url("../assets/interieur-restaurant-sunscreen.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 200px;
	text-align: center;
}
.menu {
	background-image: url("../assets/texture.png");
	width: 700px;
	height: 600px;
	border-radius: 110px;
	text-align: center;
	font-size: 30px;
}

