@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
.border {
	width: 100%;
	height: 25px;
	display: block;
}

.textnav {
	width: 330px;
	height: 150px;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 150px;
}

.footer {
	padding: 25px;
	font-size: 24px;
	bottom: 0;
	width: auto;
	height: 180px;
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
}

.navbar {
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	background-color: #A19794;
}

a {
	text-decoration: none;
	display: inline-block;
}

.globalReservation {
	background-image: url("../assets/paysage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 256px;
	width: 100%;
}
.globalReservation .buttun{
	margin-top: 98px;
	margin-left: 150px;
	padding: 20px;
}

.buttun{
	border-radius: 5px;
	padding: 0;
	font-size: 40px;
	border: 4px solid #FFFFFF;
	color: white;
	text-align: center;
	display: inline-block;
	font-family: 'Syne Mono', monospace;
}

.buttun:hover {
	color: #DADADC;
	border: 4px solid #DADADC;
}

body, html {
	font-family: 'Overlock', cursive;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap:  150px;
	background-color: #f4ede1;

}
