.h1 {
	position: relative;
	width: 100%;
	height: 879px;
	display: flex;
	justify-content: center;
	gap: 300px;
	padding: 50px;
}

.h11 {
	width: 550px;
	height: 879px;
	text-align: center;
}
img {
	width: 100%;
	height: auto;
}
.h2 {
	width: 100%;
	height: 1146px;
	background-color:white;
}


body {
	font-size: 36px;


}

.h3 {
	position: relative;
	width: 100%;
	height: 626px;
	display: flex;
	background-color: #8C6A57;
}

.imgh3 {
	width: 792px;
	height: 626px;
}

div.h3{
	
	text-align: center;

}

div.h21{
	margin: 50px;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: 'Syne Mono', monospace;
}

.texth3{
	color: white;
	margin-top: 10%;
	margin-left: 10%;
}