.h1 {
	position: relative;
	width: 100%;
	height: 879px;
	display: flex;
	justify-content: space-between;
}

.h11 {
	width: 550px;
	height: 879px;
}
img {
	width: 100%;
	height: auto;
}
.h2 {
	width: 100%;
	height: 1146px;
	background-color: #8C6A57;
}

img.h2{
	bottom: 0;
}

.imgh2 {
	margin-bottom: 0;
}

body {
	font-size: 36px;

}

.h3 {
	position: relative;
	width: 100%;
	height: 626px;
	display: flex;
	background-color: #8C6A57;
}

.imgh3 {
	width: 792px;
	height: 626px;
}

div.h3{
	margin-top: 323px;
	text-align: center;

}