img.formulaire {


}
.facade {
	height: 960px;
	width: 960px;
}

.formulaire {
	display: flex;
	flex-direction: column;

}

.Article1 {
	display: flex;
	justify-content: center;
	gap: 150px;

}

input[type="text"] {
	width: 300px;
	height: 25px;
}

.group {
	display: flex;
	gap: 50px;
}

input[type="date"] , select {
	width: 150px;
	height: 25px;
}