.formulaire {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;

}
.facade {
	height: 960px;
	width: 960px;
}


.Article1 {
	display: flex;
	justify-content: center;
	gap: 150px;

}

input[type="text"] {
	width: 300px;
	height: 35px;
}

.group {
	font-size: 36px;
	display: flex;
	gap: 50px;
	text-align: left;
	width: 100%;
}

input[type="date"] , select {
	width: 150px;
	height: 25px;
}

.Article1 .buttun {

	margin-right: 0px;
	padding: 5px;
	border: none;
	color: white;
	background-color: #8c6a57;
}